# ============================================================
# FLASK CORE
# ============================================================
SECRET_KEY=9f311ad130f854584f29dbb9b47956064436fafdcd2a92bffbcf903a7489c235
FLASK_ENV=production
FLASK_DEBUG=false
COOKIE_SECURE=false

# ============================================================
# ADMIN IP WHITELIST
# ============================================================
ADMIN_IP_WHITELIST=127.0.0.1,::1,103.82.123.75
TRUST_PROXY=false

# ============================================================
# WHATSAPP CLOUD API
# ============================================================
WHATSAPP_TOKEN=EAAP4uoKKXxUBSky44nDefF7xho0rPhHRUHHDpPF4MP9Lmg8yuT186Y2Yqx6dwcBzwz7HZCxyLoBgppUb3ZAgcHhbr7c0BP6PWwtgfVeDrLAZAuESaaJZBsZCgbDs7zi0EvLpXQJu0HU4ZAQKmkrbOzHC3VDhZAHgRUqn0dAAp5fDUXAjc3tabs2LeuiIZBLkSFAYiuNC1QVr0Qlv7XJhNjZCrjdEs9MEH7hFbp82UOTNgfirZBiZB1HZAeecBkdSIPoNkzPfHeDyH7m80YHiFvHLud95
WHATSAPP_PHONE_ID=1353784894491209

# ============================================================
# GMAIL SMTP
# ============================================================
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=azanawankhan222@gmail.com
SMTP_PASSWORD=tcpvolujuoomvypc
SMTP_FROM=azanawankhan222@gmail.com

# ============================================================
# OTP DELIVERY TARGETS
# ============================================================
TEST_MOBILE=+923175302914
TEST_EMAIL=azanawankhan222@gmail.com

# ============================================================
# DEV MODE
# ============================================================
DEV_MODE_PRINT_OTP=false